/* styles.css */

body {
  width: 500px;
  margin: 0 auto;
}



.mainContainer {
    color: rgb(211, 12, 12);
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

#Lasagna {
  Font:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  Size:18px;
  color: rgb(0, 0, 0);
  Background-Color: rgb(248, 248, 248);
  }

.container{
  background: lightblue;
  padding: 16px;
  border: 1px solid black;
  gap: 8px;
  display: flex;
  height: auto;
}

.item {
  background: peachpuff;
  border:  1px solid salmon;
  height: auto;
  flex: 1;
  padding: 4px;
}

    